# Myosotis
# KB Name: The top-level name of this KB
KBNAME=myosotis-core

# Windows Root: The top-level folder of this KB on Windows
WINDOWS_ROOT=C:\Users\you

# Linux Root: The top-level folder of this KB on Linux
LINUX_ROOT=/home/you/

# OSX Root: The top-level folder of this KB on Mac OS
OSX_ROOT=

#The name of this KB's journal folder
JOURNAL=journal/

# Any keywords associated with the file
KEYWORDS="TODO","- [ ]"
